In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data/Laser_Report_2023_through_03-31.csv")
df

,Incident Date,Incident Time,FlightID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-23,2330,LN163BF,EC35,800,PGD,Green,No,Punta Gorda,Florida
1,1-Jan-23,2300,EDV4994,CRJ9,13000,N90,Green,No,Westbury,New York
2,1-Jan-23,2257,N8410L,C172,2800,JQF,Green,No,Concord,North Carolina
3,1-Jan-23,1130,AAL605,B38M,16000,ZDC,Green,No,Leesburg,Virginia
4,1-Jan-23,949,N269ME,C172,1800,HCF,Green,No,Honolulu,Hawaii
...,...,...,...,...,...,...,...,...,...,...
2532,31-Mar-23,121,PDU41,P28R,3500,IND,Green,No,Indianapolis,Indiana
2533,31-Mar-23,52,EDV4654,CRJ9,2700,MKE,Green,No,Milwaukee,Wisconsin
2534,31-Mar-23,45,N141TN,DV20,1300,ZME,Green,No,Memphis,Tennessee
2535,31-Mar-23,38,N488BW,S22T,8000,ZJX,Green,No,Hillard,Florida
2536,31-Mar-23,35,AAL1761,A321,18800,ZOB,Green,No,Oberlin,Ohio