In [49]:
import pandas as pd
import numpy as np

# Data Prep

In [50]:
df14 = pd.read_csv("data/laser_incidents_2010-2014.csv")
df14.drop(df14.index[-1], inplace=True) # drop last row with "2014 total"
df14.drop("No. A/C", axis=1, inplace=True) # drop number of aircraft column
df14.rename(columns={'DATE': 'Incident Date',
                    'TIME (UTC)' : 'Incident Time',
                    'Aircraft ID' : 'Flight ID',
                    'TYPE A/C' : 'Aircraft',
                    'ALT' : 'Altitude',
                    'MAJOR CITY' : 'Airport',
                    'COLOR' : 'Laser Color',
                    'Injury Reported' : 'Injury',
                    'CITY' : 'City',
                    'STATE' : 'State'}, inplace=True) # rename columns consistent with other columns
df14

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-14,8.0,CHQ6045,E145,8000,CAE,Green,NO,Columbia,South Carolina
1,1-Jan-14,35.0,PSA,CRJ2,2100,PHL,Green,NO,Philadelphia,Pennsylvania
2,1-Jan-14,202.0,SWA563,B737,4200,PHX,Green,NO,Phoenix,Arizona
3,1-Jan-14,235.0,RPA3242,E175,FL240,EWR,Green,NO,Newark,New Jersey
4,1-Jan-14,259.0,AAL1153,B738,12000,POM,Green,NO,Pomona,California
...,...,...,...,...,...,...,...,...,...,...
3889,31-Dec-14,443.0,AAL128,B737 (BOEING - 737-,2500,IAD,Green,NO,Washington,District of Columbia
3890,31-Dec-14,445.0,N310PJ,LJ35 (GATES LEARJET,300,LAS,Green,NO,Las Vegas,Nevada
3891,31-Dec-14,445.0,SKW4675,CRJ2 (CANADAIR - Ch,4000,LAX,Green,NO,Los Angeles,California
3892,31-Dec-14,515.0,EJA204,CRJ2 (CANADAIR - Ch,4000,LAX,Green,NO,Los Angeles,California
3893,31-Dec-14,2344.0,N844RC,GALX,120,MIA,White,NO,Miami,Florida

In [51]:
df15 = pd.read_csv("data/reported_laser_illumination_incidents_CY_2015.csv")
df15 = df15.drop(df15.columns[-2:], axis=1) # drop nonexistent columns
df15

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-15,16,SWA3490,B737 (BOEING - 737-,3500,BHM,Green,No,Birmingham,Alabama
1,1-Jan-15,19,NKS948,A320 (AIRBUS - A-32,10000,ORD,Green,No,Chicago,Illinois
2,1-Jan-15,46,DAL1146,B772 (BOEING - 777-,10000,ATL,Green,No,Atlanta,Georgia
3,1-Jan-15,200,AAL99,B738 (BOEING - 737-,10000,PDX,Green,No,Portland,Oregon
4,1-Jan-15,318,NKS265,A320,500,FLL,Green,No,Fort Lauderdale,Florida
...,...,...,...,...,...,...,...,...,...,...
7341,31-Dec-15,525,VRD917,A320 (AIRBUS - A-32,8000,LAS,Green,No,Las Vegas,Nevada
7342,31-Dec-15,623,DAL2371,B738 (BOEING - 737-,11000,LHM,Green,No,Lincoln,California
7343,31-Dec-15,1111,Unknown,Unknown,2000,FOK,Green,No,Westhampton Beach,New York
7344,31-Dec-15,1147,UAL197,B737,300,GUM,Green,No,Guam,Guam
7345,31-Dec-15,2314,EJA336,E55P/L,1000,APF,Green,No,Naples,Florida

In [52]:
df16 = pd.read_csv("data/reported_laser_illumination_incidents_CY_2016.csv")
df16.drop("Aviation Altitude", axis=1, inplace=True) # drop empty column
df16

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-16,4,MED4,BK17,2000,UNKN,Green,No,UNKN,UNKN
1,1-Jan-16,7,SWA5431,B737,6000,BWI,Green,No,Baltimore,Maryland
2,1-Jan-16,55,ASA787,B739,4000,MSY,Green,No,New Orleans,Louisiana
3,1-Jan-16,58,CPZ5929,E170,9000,DEN,Green,No,Denver,Colorado
4,1-Jan-16,107,N785AM,BE20,4000,SEA,Green,No,Seattle,Washington
...,...,...,...,...,...,...,...,...,...,...
7393,31-Dec-16,528,UPS1075,MD11,17000,IND,Green,No,Indianapolis,Indiana
7394,31-Dec-16,820,SWA5165,B737,5600,MYV,Green,No,Marysville,California
7395,31-Dec-16,1157,ASH6179,E175,11000,IAD,Green,No,Washington,District of Columbia
7396,31-Dec-16,2222,JIA5299,CRJ2,3000,PHL,Green,No,Philadelphia,Pennsylvania
7397,31-Dec-16,2224,SWA3013,B737,12000,MRY,Blue,No,Marysville,California

In [53]:
df17 = pd.read_csv("data/reported_laser_illumination_incidents_CY_2017.csv")
df17

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-17,11,NKS423,A320,1500,MCO,Green,No,Orlando,Florida
1,1-Jan-17,104,ASH5771,CRJ9,7200,DTO,Green,No,Denton,Texas
2,1-Jan-17,145,TCF2803,E170,5500,FDK,Green,No,Frederick,Maryland
3,1-Jan-17,205,JBU543,E190,2000,PBI,White,No,West Palm Beach,Florida
4,1-Jan-17,227,ASQ2821,CRJ2,8000,SAF,Green,No,Santa Fe,New Mexico
...,...,...,...,...,...,...,...,...,...,...
6748,31-Dec-17,330,ASH6112,E755,35000,PAH,Green,No,Paducah,Kentucky
6749,31-Dec-17,347,ENY3665,E170,20000,PMM,Green,No,Pullman,Michigan
6750,31-Dec-17,350,SWA3383,B737,2300,OAK,Green,No,Oakland,California
6751,31-Dec-17,358,UPS6859,B763,14000,PHX,Green,No,Phoenix,Arizona
6752,31-Dec-17,2226,JIA5078,CRJ9,1400,MEM,Green,No,Memphis,Tennessee

In [54]:
df18 = pd.read_csv("data/Laser_Report_2018_final.csv")
df18

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-18,0015,UAL4,B77W,1200,IAH,Green,No,Houston,Texas
1,1-Jan-18,0032,AAL916,A319,7000,TMB,Green,No,Miami,Florida
2,1-Jan-18,0257,SKW4957,CRJ7,7000,SLC,Green,No,Salt Lake City,Utah
3,1-Jan-18,0302,CPZ6091,E75L,1000,LAX,Green,No,Los Angeles,California
4,1-Jan-18,0318,UPS5901,B747,10000,SDF,Green,No,Louisville,Kentucky
...,...,...,...,...,...,...,...,...,...,...
5658,31-Dec-18,0631,SWA5532,B737,11300,BOI,Green,No,Boise,Idaho
5659,31-Dec-18,0645,DAL781,B739,13000,MYV,Green,No,Auburn,California
5660,31-Dec-18,1310,OXF745,DA42,1900,FFZ,Green,No,Mesa,Arizona
5661,31-Dec-18,1419,DAL2810,B712,17000,LVK,Green,No,Livermore,California
5662,31-Dec-18,1430,N852AL,PC12/G,8000,RDM,Green,No,Redmond,Oregon

In [55]:
df19 = pd.read_csv("data/Laser_Report_2019_final.csv")
df19

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-19,35,N3EG,C421,2500,SAT,Green,No,San Antonio,Texas
1,1-Jan-19,43,RPA3469,E75S,4000,IAH,Green,No,Houston,Texas
2,1-Jan-19,44,UAL1607,A319,4000,IAH,Green,No,Houston,Texas
3,1-Jan-19,110,N205TM,BE20,2500,HDC,Green,No,Hammond,Louisiana
4,1-Jan-19,115,JIA5233,CRJ9,2000,JAX,Green,No,Jacksonville,Florida
...,...,...,...,...,...,...,...,...,...,...
6131,31-Dec-19,845,ASH5861,CRJ9,3000,JAN,Green,No,Jackson,Mississippi
6132,31-Dec-19,929,N22P,CRUZ,2500,HNL,Green,No,Honolulu,Hawaii
6133,31-Dec-19,2310,GTH530,GLF4,500,SJU,White,No,Carolina,Puerto Rico
6134,31-Dec-19,2312,AMF6916,SW4,600,SJU,Green,No,Carolina,Puerto Rico
6135,31-Dec-19,2327,N715TH,C172,3000,CHO,Green,No,Charlottesville,Virginia

In [56]:
df20 = pd.read_csv("data/Laser_Report_2020.csv")
df20

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-20,148.0,N424RP,DA42/A,8500,SBA,Green,No,Santa Barbara,California
1,1-Jan-20,155.0,AMF1829,B190,40000,SSF,Green,No,San Antonio,Texas
2,1-Jan-20,214.0,NKS1881,A320,2500,TPA,Green,No,Tampa,Florida
3,1-Jan-20,217.0,FDX3873,B763,3000,DFW,Green,No,Dallas-Fort Worth,Texas
4,1-Jan-20,218.0,SWA3635,B739,11000,MOD,Green,No,Modesto,California
...,...,...,...,...,...,...,...,...,...,...
6847,31-Dec-20,943.0,N6109L,AA1,2000,HNL,Green,No,Honolulu,Hawaii
6848,31-Dec-20,1035.0,LBQ875,PC12,2000,ROA,Green,No,Roanoke,Virginia
6849,31-Dec-20,1126.0,FDX1755,A306,1000,IAD,Green,No,Washington,District of Columbia
6850,31-Dec-20,1133.0,FDX1874,B752,8000,LAS,Green,No,Las Vegas,Nevada
6851,31-Dec-20,1158.0,AAY984,A320,4000,PIE,Green,No,St. Petersburg-Clearwater,Florida

In [57]:
df21 = pd.read_csv("data/Laser-Report-2021-FINAL.csv", skiprows=1)
df21.rename(columns={'FlightID' : 'Flight ID'}, inplace=True) #rename FlightID column
df21

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-21,48,ASH6151,E75L,2000,SAV,Green,No,Savannah,Georgia
1,1-Jan-21,56,SKW3321,E75L,17000,ZOA,Green,No,Fremont,California
2,1-Jan-21,102,ACO2204,C208,5000,DSM,Green,No,Des Moines,Iowa
3,1-Jan-21,125,AMF2521,E120,2000,ONT,Green,No,Ontario,California
4,1-Jan-21,140,N149MF,BE9L,4000,ZSE,Green,No,Auburn,Washington
...,...,...,...,...,...,...,...,...,...,...
9718,31-Dec-21,356,CF4,B407,1500,DAL,Green,No,Dallas,Texas
9719,31-Dec-21,540,AAL1956,A21N,32000,ZAB,Green,No,Albuquerque,New Mexico
9720,31-Dec-21,645,FFT1427,A320,3000,P50,Green,No,Phoenix,Arizona
9721,31-Dec-21,1859,ATN3367,B763,3200,SBD,Green,No,San Bernardino,California
9722,31-Dec-21,2200,N98ZA,B407,800,CDW,Green,No,Caldwell,New Jersey

In [58]:
df22 = pd.read_csv("data/Laser_Report_2022 _12.31_FINAL.csv")
df22.rename(columns={'FlightID' : 'Flight ID'}, inplace=True) #rename FlightID column
df22

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-22,105,AAL2305,A321,28000,ZMP,Blue,No,Dodge Center,Minnesota
1,1-Jan-22,109,EJA145,GLEX,2000,PBI,Green,No,West Palm Beach,Florida
2,1-Jan-22,118,DAL1013,A320,1000,LAX,Green,No,Los Angeles,California
3,1-Jan-22,120,CFS7686,C208,700,PDX,Green And Red,No,Portland,Oregon
4,1-Jan-22,125,N500MH,SR20,2000,TOA,Green,No,Torrance,California
...,...,...,...,...,...,...,...,...,...,...
9452,31-Dec-22,114,SWA3162,B738,7000,D10,Purple,No,Dallas-Fort Worth,Texas
9453,31-Dec-22,100,NKS1702,A319,14000,ZNY,Green,No,Ronkonkoma,New York
9454,31-Dec-22,49,AAY454,A320,16000,ZJX,Green,No,Hillard,Florida
9455,31-Dec-22,28,JBU1118,E190,3000,A90,Blue,No,Merrimack,New Hampshire
9456,31-Dec-22,2,JBU1882,E190,4000,I90,Green,No,Houston,Texas

In [59]:
df23 = pd.read_csv("data/Laser_Report_2023_through_03-31.csv")
df23.rename(columns={'FlightID' : 'Flight ID'}, inplace=True) #rename FlightID column
df23

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,1-Jan-23,2330,LN163BF,EC35,800,PGD,Green,No,Punta Gorda,Florida
1,1-Jan-23,2300,EDV4994,CRJ9,13000,N90,Green,No,Westbury,New York
2,1-Jan-23,2257,N8410L,C172,2800,JQF,Green,No,Concord,North Carolina
3,1-Jan-23,1130,AAL605,B38M,16000,ZDC,Green,No,Leesburg,Virginia
4,1-Jan-23,949,N269ME,C172,1800,HCF,Green,No,Honolulu,Hawaii
...,...,...,...,...,...,...,...,...,...,...
2532,31-Mar-23,121,PDU41,P28R,3500,IND,Green,No,Indianapolis,Indiana
2533,31-Mar-23,52,EDV4654,CRJ9,2700,MKE,Green,No,Milwaukee,Wisconsin
2534,31-Mar-23,45,N141TN,DV20,1300,ZME,Green,No,Memphis,Tennessee
2535,31-Mar-23,38,N488BW,S22T,8000,ZJX,Green,No,Hillard,Florida
2536,31-Mar-23,35,AAL1761,A321,18800,ZOB,Green,No,Oberlin,Ohio

In [64]:
df = pd.concat([df14, df15, df16, df17, df18, df19, df20, df21, df22, df23])
df = df.reset_index()
df

,index,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State,State
0,0,1-Jan-14,8.0,CHQ6045,E145,8000,CAE,Green,NO,Columbia,South Carolina,NaN
1,1,1-Jan-14,35.0,PSA,CRJ2,2100,PHL,Green,NO,Philadelphia,Pennsylvania,NaN
2,2,1-Jan-14,202.0,SWA563,B737,4200,PHX,Green,NO,Phoenix,Arizona,NaN
3,3,1-Jan-14,235.0,RPA3242,E175,FL240,EWR,Green,NO,Newark,New Jersey,NaN
4,4,1-Jan-14,259.0,AAL1153,B738,12000,POM,Green,NO,Pomona,California,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
65754,2532,31-Mar-23,121,PDU41,P28R,3500,IND,Green,No,Indianapolis,Indiana,NaN
65755,2533,31-Mar-23,52,EDV4654,CRJ9,2700,MKE,Green,No,Milwaukee,Wisconsin,NaN
65756,2534,31-Mar-23,45,N141TN,DV20,1300,ZME,Green,No,Memphis,Tennessee,NaN
65757,2535,31-Mar-23,38,N488BW,S22T,8000,ZJX,Green,No,Hillard,Florida,NaN
65758,2536,31-Mar-23,35,AAL1761,A321,18800,ZOB,Green,No,Oberlin,Ohio,NaN